/* =========== OFFICIAL COLORS =========== */
/* 
#06AED5
#086788
#F0C808
#FFF1D0
#DD1C1A */

* {
  font-family: "Montserrat", sans-serif;
}

::selection {
  color: #fff;
  background: #dd1c1a;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* =========== PAGE SCROLLBAR =========== */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #dd1c1a;
}

/* =========== COMMON ELEMENTS =========== */
.common-header {
  margin-top: 100px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.common-header-data {
  flex: 1;
}
.common-header-btn {
  text-decoration: none;
  color: #dd1c1a;
}
.common-header-data span {
  color: #dd1c1a;
}
.common-header h2 {
  margin: 0;
  font-weight: bold;
  color: #086788;
}
.common-header p {
  margin: 0;
}
.under-maintenance {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.under-maintenance lottie-player {
  width: 300px;
  height: 300px;
}
.under-maintenance h1 {
  font-weight: bold;
  color: #dd1c1a;
  margin: 0;
  text-align: center;
}
.under-maintenance p {
  margin: 0;
  font-size: 18px;
  text-align: center;
}

/* =========== NAVBAR =========== */
.navbar {
  background-color: #086788 !important;
}
.navbar-brand {
  max-width: 10%;
}
.navbar-brand img {
  width: 100%;
}
.nav-link {
  color: #fff;
  font-size: 16px;
}

.dropdown-item {
  font-size: 14px;
}

/* =========== HOME SECTION 2 =========== */
.section-2-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 100px;
}
.section-2-card {
  width: 200px;
  height: 150px;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  border: 0;
}
.section-2-card:hover {
  background-color: #06aed5;
  border: 1px solid #e7e7e7e7;
  border-radius: 10px;
  transition: 0.3s all ease-in-out;
  color: #fff;
}
.section-2-card img {
  width: 90px;
  height: 90px;
}
.section-2-card p {
  font-size: 14px;
}

/* =========== HOME SECTION 3 =========== */
.section-3-container {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-3-img-container {
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-3-img-container img {
  width: 70%;
  border-radius: 10px;
}
.section-3-txt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.section-3-txt h1 {
  margin: 0;
  line-height: 35px;
  margin-bottom: 10px;
}
.section-3-txt p {
  margin-bottom: 20px;
  font-size: 16px;
}
.section-3-txt a {
  text-decoration: none;
  color: #086788;
  border: 1px solid #086788;
  border-radius: 5px;
  padding: 8px;
  width: 200px !important;
  text-align: center;
}
.section-3-txt a:hover {
  background-color: #086788;
  color: #fff;
  transition: 0.3s all ease-in-out;
  text-align: center;
}

/* =========== HOME SECTION 4 =========== */
.section-4-list {
  list-style: none;
}
.section-4-row {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  border-bottom: 1px solid #e7e7e7e7;
  padding-bottom: 15px;
  margin-top: 15px;
}
.section-4-data {
  flex: 1;
}
.section-4-data-label {
  margin: 0;
  font-size: 14px;
  color: #777;
}
.section-4-date {
  margin: 0;
  color: #dd1c1a;
}
.section-4-response {
  margin-left: 15px !important;
  margin: 0;
  font-size: 16px;
  font-weight: 500;
  color: #000;
}
.section-4-btn {
  margin: 0;
  border: 0;
  background-color: #06aed5;
  font-size: 16px;
  border-radius: 5px;
  color: #fff;
}

/* =========== HOME SECTION 5 =========== */
.section-5-container {
  margin-top: 50px;
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(221, 28, 26);
  background: linear-gradient(
    132deg,
    rgba(221, 28, 26, 1) 10%,
    rgba(237, 95, 93, 1) 90%
  );
}
.section-5-img {
  max-width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-5-img img {
  width: 50%;
  height: auto;
  border-radius: 10px;
}
.section-5-txt h3 {
  font-weight: bold;
  color: #fff;
  font-size: 36px;
}
.section-5-txt p {
  color: #fff;
  margin-bottom: 50px !important;
  font-size: 16px;
}
.section-5-link {
  text-decoration: none;
  background-color: #fff1d0;
  color: #000000;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
}

/* =========== HOME SECTION 6 =========== */
.section-6-link {
  text-decoration: none;
  padding: 5px;
  background-color: #086788;
  color: #fff;
  border-radius: 5px;
}

/* =========== HOME SECTION 7 =========== */
.section-7-container {
  margin-top: 30px;
}
.section-7-form {
  background-color: #fff;
  border-radius: 10px;
  padding: 40px;
  border: 1px solid #086788;
}
.section-7-row {
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-7-lottie {
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-7-lottie lottie-player {
  width: 500px;
  height: 500px;
}
.section-7-btn {
  width: 100%;
  background-color: #f0c808;
  border: 0;
  padding: 10px;
  border-radius: 10px;
  font-weight: 600;
}

/* =========== HOME SECTION 8 =========== */
.home-section-8 {
  display: flex !important;
  flex-wrap: wrap;
  justify-content: space-around;
}
.home-section-8-card {
  width: 200px;
  height: 200px;
  border: 1px solid #e7e7e7;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.home-section-8-card:hover {
  background-color: #dd1c1a;
  color: #fff;
  transition: 0.3s all ease-in-out;
}
.home-section-8-card p {
  line-height: 20px;
  font-size: 15px;
  text-align: center;
  margin: 0;
}

/* =========== WHO WE ARE SECTION 1 =========== */
.intro-section-part-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.intro-section-part-2 h2 {
  font-weight: bold;
}
.intro-section-part-2 span {
  color: #086788;
}
.intro-section-part-2 p {
  text-align: center;
}

/* =========== WHO WE ARE SECTION 2 =========== */
.who-we-are-section-2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.who-we-are-section-2-img {
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.who-we-are-section-2-img img {
  width: 80%;
  border-radius: 5px;
}
.who-we-are-section-2-txt h2 {
  font-weight: bold;
}
.who-we-are-section-2-txt span {
  color: #086788;
}
.who-we-are-section-2-txt p {
  font-size: 18px;
}
.who-we-are-section-management-section {
  margin-top: 100px !important;
  margin-bottom: 100px;
}
.who-we-are-section-management-section h3 {
  text-align: center;
  margin-bottom: 50px;
  font-weight: bold;
}
.who-we-are-section-management-section span {
  color: #086788;
}
.who-we-are-section-management-row {
  display: flex;
  justify-content: center;
  align-items: center;
}
.who-we-are-section-management-img {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
}
.who-we-are-section-management-img img {
  width: 70%;
}

/* =========== WHO WE ARE SECTION 3 =========== */
.who-we-are-section-3 {
  margin-top: 100px !important;
  display: flex;
  justify-content: center;
  align-items: center;
}
.who-we-are-section-3-img {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
}
.who-we-are-section-3-img img {
  width: 90%;
}
.who-we-are-section-3-txt h3 {
  color: #dd1c1a;
  font-weight: 500;
  margin: 0;
}
.who-we-are-section-3-txt p {
  line-height: 20px;
  font-size: 18px;
}

/* =========== WHO WE ARE SECTION 4 =========== */
.who-we-are-section-4 {
  margin-top: 100px;
}
.who-we-are-section-4 h3 {
  text-align: center;
  margin-bottom: 30px;
  font-weight: bold;
}
.who-we-are-section-4 span {
  color: #086788;
}
.who-we-are-section-4 p {
  font-size: 18px;
}
.who-we-are-section-4-list li {
  color: #000 !important;
  font-size: 18px;
}

/* =========== INTRO SECTION =========== */
.intro-section {
  background-image: url("../images/webp/banner-2.webp");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.intro-section h1 {
  margin: 0;
  font-weight: bold;
  color: #dd1c1a;
}
.breadcrumb-item a,
li {
  color: #fff !important;
  text-decoration: none;
  font-size: 20px;
}

/* =========== ADMISSIONS SECTION =========== */
.admissions-section-1-row {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.admissions-section-1-lottie {
  display: flex;
  justify-content: center;
  align-items: center;
}
.admissions-section-1-lottie lottie-player {
  width: 400px;
  height: 400px;
}
.admissions-section-1-txt p {
  font-size: 18px;
}
.admissions-section-1-list li {
  color: #000 !important;
  font-size: 18px;
}

/* =========== CURRICULUM SECTION =========== */
.accordion-button {
  font-size: 20px;
  font-weight: 500;
}
.curriculum-section-list li {
  color: #000 !important;
  font-size: 18px;
}

/* =========== NOT FOUND SECTION =========== */
.not-found {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 100px;
}
.not-found lottie-player {
  width: 300px;
  height: 300px;
}
.not-found h2 {
  font-weight: bold;
  margin: 0;
}
.not-found span {
  font-weight: bold;
  margin: 0;
  color: #dd1c1a;
}
.not-found p {
  text-align: center;
}

/* =========== FOOTER =========== */
.custom-footer {
  background-color: #f0c808;
  padding: 30px;
  /* position: absolute; */
  width: 100%;
  /* bottom: 0; */
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}
.footer-navbar-brand {
  max-width: 100%;
  margin-bottom: 40px;
}
.footer-navbar-brand img {
  width: 50%;
  height: auto;
}
.footer-menu {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row !important;
}
.footer-nav li {
  list-style-type: none;
  margin-bottom: 15px;
}
.footer-nav a {
  text-decoration: none;
  color: #000;
  font-size: 18px;
  margin: 0;
}
.footer-nav a:hover {
  color: #06aed5;
  transition: 0.3s all ease-in-out;
}
.footer-details {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 20px;
}
.footer-details-icon {
  font-size: 20px !important;
  margin: 0;
}
.footer-inner-details {
  margin-left: 15px;
}
.footer-label {
  font-size: 15px;
  margin: 0;
  font-weight: 600;
}
.footer-res {
  margin: 0;
  font-size: 18px;
}

/* =========== DEVELOPER FOOTER =========== */
.developer-footer {
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: #dd1c1a;
}
.developer-footer p {
  margin: 0;
  color: #fff;
}
.developer-footer a {
  margin: 0;
  color: #fff;
  text-decoration: none;
}
.developer-footer a:hover {
  color: #f0c808;
  transition: 0s all ease-in-out;
}

@media only screen and (max-width: 768px) {
  /* =========== COMMON ELEMENTS =========== */
  .common-header h2 {
    text-align: left;
  }
  .common-header p {
    text-align: left;
  }
  /* ========== NAVBAR ==========  */
  .navbar-brand {
    max-width: 20% !important;
  }
  .navbar-brand img {
    max-width: 100% !important;
    width: 100%;
    height: auto;
  }

  /* =========== HOME SECTION 3 =========== */
  .section-3-container {
    flex-direction: column;
    padding: 10px;
  }
  .section-3-img-container {
    margin-bottom: 15px;
  }
  .section-3-img-container img {
    width: 100%;
  }
  .section-3-txt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .section-3-txt h1 {
    text-align: center;
  }
  .section-3-txt p {
    text-align: center;
  }

  /* =========== HOME SECTION 4 =========== */
  .section-4-container {
    border: 1px solid #e7e7e7;
    border-radius: 10px;
    padding: 10px;
  }
  .section-4-row {
    margin-top: 25px;
  }
  /* =========== HOME SECTION 5 =========== */
  .section-5-container {
    flex-direction: column;
  }
  .section-5-img {
    max-width: 100%;
    margin-bottom: 20px;
  }
  .section-5-img img {
    width: 100%;
    border-radius: 10px;
  }
  .section-5-txt {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .section-5-txt h3 {
    text-align: center;
  }
  .section-5-txt p {
    color: #fff;
    text-align: center;
  }
  .section-5-link {
    text-align: center;
  }

  /* =========== HOME SECTION 6 =========== */
  .section-5-container {
    border: 1px solid #e7e7e7;
    border-radius: 10px;
    padding: 10px;
  }
  .section-5-row {
    margin-top: 25px;
  }

  /* =========== HOME SECTION 7 =========== */
  .section-7-container {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .section-7-form {
    background-color: #fff;
    border-radius: 10px;
    padding: 40px;
    border: 1px solid #086788;
  }
  .section-7-row {
    flex-direction: column;
  }
  .section-7-lottie {
    display: none;
  }

  .section-7-btn {
    width: 100%;
    background-color: #f0c808;
    border: 0;
    padding: 10px;
    border-radius: 10px;
    font-weight: 600;
  }

  /* =========== HOME SECTION 8 =========== */
  .home-section-8-card {
    width: 100%;
    margin-bottom: 15px;
  }

  /* =========== WHO WE ARE SECTION 2 =========== */
  .who-we-are-section-2 {
    flex-direction: column;
  }
  .who-we-are-section-2-img {
    margin-bottom: 30px;
  }
  .who-we-are-section-2-img img {
    width: 100%;
    border-radius: 5px;
  }
  .who-we-are-section-2-txt h2 {
    font-weight: bold;
    text-align: center;
  }
  .who-we-are-section-2-txt p {
    text-align: center;
  }
  .who-we-are-section-management-row {
    flex-direction: column;
  }
  .who-we-are-section-management-img {
    margin-bottom: 20px;
  }
  .who-we-are-section-management-img img {
    width: 100%;
    border-radius: 5px;
  }

  /* =========== WHO WE ARE SECTION 3 =========== */
  .who-we-are-section-3 {
    flex-direction: column;
  }
  .who-we-are-section-3-img {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    margin-bottom: 20px;
  }
  .who-we-are-section-3-img img {
    width: 90%;
  }
  .who-we-are-section-3-txt h3 {
    color: #dd1c1a;
    font-weight: 500;
    margin-bottom: 10px;
    text-align: center;
  }
  .who-we-are-section-3-txt p {
    line-height: 20px;
    text-align: center;
  }

  /* =========== ADMISSIONS SECTION =========== */
  .admissions-section-1-row {
    flex-direction: column;
  }
  .admissions-section-1-lottie lottie-player {
    width: 300px;
    height: 300px;
  }

  /* =========== FOOTER =========== */
  .custom-footer {
    padding: 20px;
    align-items: flex-start;
    flex-direction: column;
  }
  .footer-navbar-brand {
    display: none;
  }
  .footer-menu {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column !important;
  }
  .footer-nav {
    max-width: 90% !important;
    margin-bottom: 40px;
  }
  .footer-details {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    max-width: 100%;
    margin-bottom: 20px;
    flex-direction: column;
  }
  .footer-inner-details {
    margin-left: 0;
  }
}
