/* =========== OFFICIAL COLORS =========== */
/* 
#06AED5
#086788
#F0C808
#FFF1D0
#DD1C1A */

* {
  font-family: "Montserrat", sans-serif;
}

::selection {
  color: #fff;
  background: #dd1c1a;
}

/* =========== NAVBAR =========== */
.navbar {
  background-color: #086788 !important;
}
.navbar-brand {
  max-width: 10%;
}
.navbar-brand img {
  width: 100%;
}
.nav-link {
  color: #fff1d0;
  font-size: 14px;
}
.nav-link:hover {
  color: #f0c808;
}
.dropdown-item {
  font-size: 14px;
}

/* =========== HOME SECTION 2 =========== */
.section-2-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
}
.section-2-card {
  width: 200px;
  height: 150px;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.section-2-card:hover {
  background-color: #06aed5;
  border: 1px solid #e7e7e7e7;
  border-radius: 10px;
  transition: 0.3s all ease-in-out;
  color: #fff;
}
.section-2-card img {
  width: 90px;
  height: 90px;
}
.section-2-card p {
  font-size: 14px;
}

/* =========== HOME SECTION 3 =========== */
.section-3-container {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-3-img-container {
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-3-img-container img {
  width: 70%;
  border-radius: 10px;
}
.section-3-txt h1 {
  margin: 0;
  line-height: 35px;
  margin-bottom: 10px;
}
.section-3-txt p {
  margin: 0;
}

/* =========== HOME SECTION 4 =========== */

/* =========== FOOTER =========== */
.custom-footer {
  background-color: #f0c808;
  padding: 30px;
  /* position: absolute; */
  width: 100%;
  /* bottom: 0; */
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}
.footer-navbar-brand {
  max-width: 100%;
  margin-bottom: 40px;
}
.footer-navbar-brand img {
  width: 50%;
  height: auto;
}
.footer-menu {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row !important;
}
.footer-nav li {
  list-style-type: none;
  margin-bottom: 15px;
}
.footer-nav a {
  text-decoration: none;
  color: #000;
  font-size: 18px;
  margin: 0;
}
.footer-nav a:hover {
  color: #06aed5;
  transition: 0.3s all ease-in-out;
}
.footer-details {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 20px;
}
.footer-details-icon {
  font-size: 20px !important;
  margin: 0;
}
.footer-inner-details {
  margin-left: 15px;
}
.footer-label {
  font-size: 15px;
  margin: 0;
  font-weight: 600;
}
.footer-res {
  margin: 0;
  font-size: 18px;
}

/* =========== DEVELOPER FOOTER =========== */
.developer-footer {
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: #dd1c1a;
}
.developer-footer p {
  margin: 0;
  color: #fff;
}
.developer-footer a {
  margin: 0;
  color: #fff;
  text-decoration: none;
}
.developer-footer a:hover {
  color: #f0c808;
  transition: 0s all ease-in-out;
}

@media only screen and (max-width: 768px) {
  /* ========== NAVBAR ==========  */
  .navbar-brand {
    max-width: 20% !important;
  }
  .navbar-brand img {
    max-width: 100% !important;
    width: 100%;
    height: auto;
  }

  /* =========== FOOTER =========== */
  .custom-footer {
    padding: 20px;
    align-items: flex-start;
    flex-direction: column;
  }
  .footer-navbar-brand {
    display: none;
  }
  .footer-menu {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column !important;
  }
  .footer-nav {
    max-width: 90% !important;
    margin-bottom: 40px;
  }
  .footer-details {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    max-width: 100%;
    margin-bottom: 20px;
    flex-direction: column;
  }
  .footer-inner-details {
    margin-left: 0;
  }
}
